<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>

    <ul class="main-list">
        <% borderList.forEach(function(borderItem) { %>
          <li class="main-list__item">
              <a href="/border/<%= borderItem.border_id %>" class="board">
                  <p class="board__title">
                      <%= borderItem.title %>
                  </p>
                  <p class="board__date">
                      <%= borderItem.created_at %>
                  </p>
              </a>
          </li>
          <% }); %>
    </ul>
    </div>

</body>

</html>
